
.createProfilBookContainer {
  width: 20%;
}

.dishBook {
  width: 80%;
  height: 19rem;
  background-image: url(https://jooinn.com/images/old-book-texture-15.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color:black;
}

.dishBook:hover {
  color: black;
  font-style: italic;
  font-size: 1.5rem;
}
