.BookSearch{
  margin-top: 2rem;
}

.searchButton{
  width: 15rem;
  height: 3rem;
  background-color: maroon;
  margin-top: 3rem;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  border-style: none;
  border: solid 1px black;
  color: white;
  text-transform: uppercase; 
font-weight: bold;
padding: 0.5em;
}
