.loginForm_container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(circle, rgba(245,243,241,1) 39%, rgba(220,185,145,1) 76%, rgba(92,47,16,1) 97%);
}

.login  {
  padding: 1.5em;
  }

  
  .login_loginForm
{background-size: contain;

background-image: url(https://camillesourget.com/upload/images/boeckler-rel3-UxA0U.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15em;
  padding-bottom: 15em;
}

  .loginForm_pseudo, .loginForm_password {
    height: 1.5em;
    max-width: 15em;
    border-style: none;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: black;
    font-style: italic;
    font-size: 1.5em;
  margin: 0.2em;
}

.loginForm_validButton {background-color: transparent;
  box-shadow: black;
border-style: none;
height: 1.5em;
width: 13em;
border-style: none;
padding: 1.7em;
box-shadow: 2px 2px 15px 5px #140903;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
margin:auto;
margin-top: 5%;
}
    
.validButton_validLogin {text-align:center;
  display: flex;
justify-content: center;
font-weight: bold;
color: #DCB991;
font-style: italic;
font-size: 1.4em;


}


  @media only screen and (max-width: 820px) {
    .login_loginForm{background-size: 100%;
    padding: 2em; 
    }

    .loginForm_pseudo, .loginForm_password {margin-left: 2em; height: 1em;}

    .login{
      background: none;
    }

    .loginForm_container{
      background: radial-gradient(circle, rgba(245,243,241,1) 39%, rgba(220,185,145,1) 76%, rgba(92,47,16,1) 97%);
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 1024px) {
    .login_loginForm{background-size: 100%;
      padding: 5em;
    }
  }
