
.createProfilBookContainer {
  width: 20%;
}

.myRecipesBook {
  width: 80%;
  height: 19rem;
  background-image: url(https://previews.123rf.com/images/thomaslenne/thomaslenne1303/thomaslenne130300007/18712000-old-book-cover-texture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.myRecipesBook:hover {
  color: black;
  font-style: italic;
}

