.ShelfCarroussel {background-image: url(https://images-ext-1.discordapp.net/external/fSVKzlA1sT3RkOwEscj7UE9pPPt5O10bo35WkiOma4o/http/www.wallfizz.com/art-design/inclassable/3097-mur-en-bois-WallFizz.jpg?width=400&height=300);
    border-top: solid 30px #3A2C2B;
    /* border-left: solid 15px #3A2C2B;
    border-right: solid 15px #3A2C2B;
    border-bottom: solid 15px #3A2C2B;
    width: 50%;
    height: 30%;
    margin: auto; */
padding: 5%;
    }
