
.createProfilBookContainer {
  width: 20%;
}

.shoppingListBook {
  width: 110%;
  height: 19rem;
  background-image: url(https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/black-bumpy-old-book-cover-texture-15-780x1078.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.shoppingListBook:hover {
  color: black;
  font-style: italic;
}
